<FilesMatch \.(php|phar)$>
SetHandler "proxy:unix:/var/run/php81-fpm.sock|fcgi://localhost/"
</FilesMatch>

# Redirect to the front entry point
RewriteEngine On
DirectoryIndex index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.html? [QSA]